@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    /* background-color: slategray; */
}

.Heading{
    text-align: center;
    margin-top: 10px;
    font-size: 14px; 
    width: 300px;
}

.Show-time{
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 700;
}

#chaser{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    color: red;
}

#lefter{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    color: red;
}

.righter{
    text-align: center;
    font-size: 15px;
    margin-top: 15px;
    font-weight: 700;
}

.righter-Two{
    text-align: center;
    font-size: 15px;
    margin-top: 15px;
    font-weight: 700;
}

#shows{
    color: red;
}
